
<div id="main">
  <app-navbar></app-navbar>

  <div id="content">
    <div class="row">
      <div id="colWithPlayers">
        <form  class="mt-2 pr-3">
          <input type="text" class="form-control" placeholder="Search player" [(ngModel)]="searchPlayer" name="searchPlayer">
        </form>
        <div id="table">
          <table class="mt-2">
            <tbody>
            <tr *ngFor="let u of users | playerFilter:searchPlayer"  (click)="connectToUser(u.username)">
              <a type="submit" tabindex="1">
                <td>
                  <span>{{ u.username }}</span>
                </td>
              </a>
            </tbody>
          </table>
        </div>
      </div>

      <div id="tablegame" [hidden]="!isPlayerPicked">
        <app-tablegame  [messageMapping]="messageMapping" [rivalPlayer]="rivalPlayer"></app-tablegame>
      </div>
      <div id="background" [hidden]="isPlayerPicked"> </div>
    </div>
  </div>

</div>
