#content {
    height: 100%;
    width: 100%;
    position: absolute;
}

#content .row{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#colWithPlayers {
  border-left: 1px solid gray;
  background-color: #F5F4EF;
  padding-left: 10px;
  width: 25%
}

#table  table {
  width: 100%;
}

#table tr {
  border-top: 2px solid #EBEBEB;
  border-bottom: 2px solid #EBEBEB;
}

#table tr a {
   display: block;
   width: 100%;
   height: 70px;
   position: relative;
}

#table tr a:hover {
   display: block;
   width: 100%;
   height: 70px;
   background-color: white;
   position: relative;
}

#table tr a:focus {
   width: 102%;
   height: 80px;
   background-color: #36A4DF;
   box-shadow: -7px 0px 35px -15px #F5F4EF inset;
   border-radius: 0 10px 10px 0;
   outline: 0;
   color: white;
   position: relative;
}

#table tr a td {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

#tablegame {
    box-shadow: 0px 0px 21px 3px #c7bfc7 inset;
    width: 75%;
}

#background {
  width: 75%;
  background-size: 100% 100%;
  background-image: url(https://st.depositphotos.com/1116329/2301/v/450/depositphotos_23015366-stock-illustration-vector-light-circle-icon-eps10.jpg);
  box-shadow: 0 0 25px 34px #ffffff inset;
}
