<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <!-- совместимость со всеми устройствами -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

<div align="center">

    <table>
        <thead class="thead-dark">
        <tr>
            <th>name</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="a:${message}">
            <td th:text="${a}"></td>
        </tr>
        </tbody>
    </table>
</div>



<div th:replace="fragments/script :: scripts"></div>
</body>
</html>