<nav class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand">{{username}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
    </ul>
  </div>

  <div >
    <a routerLink="/logout" routerLinkActive="false">
      <button  type="submit" id="button_login1">
        <i class="material-icons">
          input
        </i>
      </button>
    </a>
  </div>


</nav>
